@import "../../../variables/variables.scss";

.divider {
  background-color: rgba($color: $purple, $alpha: 0.5);
  height: 2px;
}

.container {
  margin: 20px 0 10px 0;
  width: 710px;
  display: flex;
  position: relative;

  .checkbox,
  .note,
  .edit-btn,
  .delete-btn {
    cursor: pointer;
  }

  .note,
  fa-icon {
    font-size: 20px;
  }

  .btn-container {
    position: absolute;
    visibility: hidden;
    right: 0;

    button {
      margin: 0 5px;
      color: rgba($color: #000000, $alpha: 0.4);
    }
    .edit-btn:hover {
      color: $purple !important;
    }

    .delete-btn:hover {
      color: $warn !important;
    }
  }

  .notes-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;

    .note {
      width: 100%;
    }

    .checkbox {
      width: 10%;
      height: 20px;
      accent-color: $purple;
    }

    .box-checked {
      font-style: italic;
      color: rgba($color: $box-checked, $alpha: 0.5);
      text-decoration: line-through;
    }
  }

  :hover + .btn-container,
  .btn-container:hover {
    visibility: visible;
  }
}
// Dark Mode
.dark-mode {
  .notes-container {
    color: $white !important;
    .box-checked {
      color: rgba($color: $white, $alpha: 0.5) !important;
    }
  }

  .btn-container {
    button {
      color: rgba($color: #fff, $alpha: 0.4);
    }
  }
}
