@import "../../../variables/variables.scss";
.backscreen {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  display: flex;
  background-color: rgba($color: $black, $alpha: 0.5);

  .container {
    background-color: $white;
    padding: 15px 25px;
    border-radius: 15px;

    h2 {
      text-align: center;
      font-weight: 500;
    }

    input[type="text"] {
      height: 46px;
      margin-top: 20px;
      padding: 0 60px 0 20px;
      width: 500px;
      font-size: 18px;
      border: solid 2px $purple;
      border-radius: 6px;
      color: $purple;
      background-color: $white;

      &::placeholder {
        color: $placeholder-light-color;
        font-family: "Inter", sans-serif;
      }
    }

    .btn-container {
      margin-top: 150px;
      display: flex;
      justify-content: space-between;

      button {
        width: 100px;
        border: solid 2px $purple;
        padding: 5px 10px;
        border-radius: 6px;
        cursor: pointer;

        font-weight: 500;
        font-size: 18px;
      }

      .cancel {
        color: $purple;
      }

      .apply {
        background-color: $purple;
        color: $white;
        text-shadow: 0px 2px 4px $black;

        &:active {
          background-color: $btn-focus;
        }
      }
    }
  }
}

.dark-mode {
  input[type="text"] {
    background-color: $black !important;
    border: solid 2px $white !important;
    color: $white !important;

    &::placeholder {
      color: $placeholder-dark-color !important;
    }
  }
}

.backscreen.dark-mode {
  background-color: rgba($color: $white, $alpha: 0.1) !important;
}
